@import url(__logo/header__logo.css);
@import url(__title/header__title.css);
@import url(__subtitle/header__subtitle.css);
@import url(__subtitle/_link/header__subtitle_link.css);
@import url(__main-illustration/header__main-illustration.css);
@import url(__square-pic/header__square-pic.css);

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 64px;
}
